* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: #f9f8fb;
}

/* Header */

.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  height: 147px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header__container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Navigation */

.nav {
  font-weight: 700;
}

.nav__link {
  position: relative;
  display: inline-block;
  color: #000;
  text-decoration: none;
  margin-left: 35px;
}

.nav__link:first-child {
  margin-left: 0;
}

.nav__link::before {
  content: "";
  display: block;
  height: 3px;
  width: 100%;
  position: absolute;
  top: -50%;
  background-color: #ff6033;
  opacity: 0;
  transition: 0.2s linear;
}

.nav__link:hover::before {
  display: block;
  opacity: 1;
}

/* Intro */

.intro {
  position: relative;
  width: 100%;
  max-width: 1200px;
  height: 100vh;
  max-height: 1000px;
  margin: 0 auto;

  background: url(./img/img-1.jpg) center no-repeat;
  background-size: cover;
}

.intro__inner {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 250px;
  width: 370px;
  transform: translateY(-50%);
  top: 50%;
}

.intro__title {
  font-size: 60px;
  font-weight: 900;
}

.intro__subtitle {
  font-size: 17px;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 10px;
}

/* Button */

.btn {
  width: 200px;
  height: 60px;
  background-color: #ff6033;
  box-shadow: 3px 3px 6px rgb(155, 148, 148);
  border-radius: 4px;

  font-size: 20px;
  font-weight: 300;
  color: #fff;
  border: 0;
  cursor: pointer;
}

.btn:hover {
  background-color: #f34313;
  transition: 0.2s ease-in;
}

.btn:focus {
  outline: none;
}

.block__inner__btn {
  display: flex;
  justify-content: center;
}

/* Scroll */

.scroll {
  position: absolute;
  width: 24px;
  height: 40px;
  margin: 0 auto;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 90%;
}

/* Block */

.block_green {
  display: flex;
  justify-content: center;
  width: 100%;

  height: 100vh;
  max-height: 700px;
  margin: 0 auto;
  background-color: #00c2c2;
}

.block_purple {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 865px;
  background-color: #b07cf7;
}

.block__inner__about-us {
  width: 1170px;
  display: flex;
}

.block__inner__title {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1170px;
}

.block__image {
  width: 600px;
  display: flex;
  justify-content: center;
}

.main__section__container {
  display: flex;
  justify-content: space-between;
  width: 1170px;
  margin: 0 0 70px 0;
}

.block__section_bg_1 {
  width: 370px;
  height: 310px;
  background: url(./img/blog-1.png) center no-repeat;
  background-size: cover;
}

.block__section_bg_1:hover {
  background: url(./img/blog-1-hover.png) center no-repeat;
  background-size: cover;
  transition: ease-in-out 0.2s;
}

.block__section_bg_1:hover .info__date {
  background-color: rgba(247, 43, 59, 0.8);
  transition: linear 0.1s;
}

.block__section_bg_2 {
  width: 370px;
  height: 310px;
  background: url(./img/blog-2.png) center no-repeat;
  background-size: cover;
}

.block__section_bg_2:hover {
  background: url(./img/blog-2-hover.png) center no-repeat;
  background-size: cover;
  transition: ease-in-out 0.2s;
}

.block__section_bg_2:hover .info__date {
  background-color: rgba(247, 43, 59, 0.8);
  transition: linear 0.1s;
}

.block__section_bg_3 {
  width: 370px;
  height: 310px;
  background: url(./img/blog-3.png) center no-repeat;
  background-size: cover;
}

.block__section_bg_3:hover {
  background: url(./img/blog-3-hover.png) center no-repeat;
  background-size: cover;
  transition: ease-in-out 0.2s;
}

.block__section_bg_3:hover .info__date {
  background-color: rgba(247, 43, 59, 0.8);
  transition: linear 0.1s;
}

.block__section_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 370px;
  height: 310px;
  padding: 25px;
}

.block__info {
  color: #fff;
}

.info__date {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 700;
  text-align: center;
  width: 60px;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  line-height: 1;
}

.date__container {
  width: 60px;
  height: 60px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Block text */

.block__text_1 {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  align-items: center;
  max-width: 500px;
  height: 300px;
}

.block__text_2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 575px;
  height: 328px;
}

.block__title {
  font-size: 90px;
  font-weight: 700;
  color: #fff;
}

.block__title_2 {
  text-align: center;
  margin-bottom: 35px;
}

.block__subtitle {
  font-size: 17px;
  font-weight: 300;
  color: #fff;
  line-height: 1.5;
}

.block__subtitle_3 {
  line-height: 1.4;
  text-align: center;
}

.link__section {
  text-decoration: none;
}

.info__date_day {
  font-size: 32px;
}

.info__date_month {
  font-size: 21px;
  line-height: 1.2;
}

.info__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 310px;
  height: 85px;
  text-shadow: 3px 2px 4px #000;
}

.info__title_1 {
  font-size: 20px;
  font-weight: 700;
}

.info__subtitle_1 {
  font-size: 13px;
  font-weight: 300;
}
